* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {src: url(/fonts/Recoleta/Recoleta-RegularDEMO.otf); font-family: recoleta;}

body {
  color: #fff;
}

.row {
  display: flex;
}

h2 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
}

p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

#hero {
  background-color: #163A24;
  padding-top: 20px;
}

.contenir {
  width: 1200px;
  margin: 0px auto;
}

header {
  justify-content: space-between;
  align-items: center;
}

.hero-list {
  justify-content: space-between;
  list-style: none;
}

.hero-item {
  margin-left: 24px;
}

.get {
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #198C36;
}

.hero-link {
  color: #FBFAF7;
  text-decoration: none;
}

.hero-contrnt {
  justify-content: space-between;
  align-items: center;
}

.hero-info {
  height: 520px;
  padding-top: 120px;
}

.hero-h1 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  width: 391px;
  height: 196px;
}

.hero-p {
  margin-top: 18px;
  width: 475px;
  height: 81px;
}

#story {
  padding: 0px 80px;
}

.story-box {
  padding-top: 120px;
}

.story-content {
  justify-content: center;
  align-items: center;
}

.story-info {
  flex-basis: 45%;
}

.story-h2 {
  color: #163A24;
  width: 325px;
  height: 108px;
  margin-bottom: 30px;
}

.human {
  padding-left: 80px;
}

.play {
  width: 376px;
}

.story-p {
  color: #163A24;
  width: 374px;
  height: 54px;
}

.partner-h2 {
  width: 520px;
  height: 52px;
  color: #163A24;
  margin-left: 330px;
  padding: 120px 0px;
}

.partner-list {
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

.partner-item {
  list-style: none;
  padding-right: 95px;
}

#costum {
  background-color: #163A24;
  padding: 66px 0px 135px 0px;
}

.costum-h2 {
  color: #fff;
  margin-bottom: 74px;
  padding-left: 190px;
}

.costum-list {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  list-style: none;
}

#employees {
  background-color: #F2EFE6;
  padding: 114px 0px 135px 0px;
}

.employees-text {
  text-align: center;
  padding-left: 230px;
}

.employees-h2 {
  color: #163A24;
  width: 739px;
  height: 108px;
  margin-bottom: 27px;
}

.employees-p {
  color: #163A24;
  width: 760px;
  height: 54px;
}

.scenes-content {
  align-items: center;
  padding-top: 182px;
}

.text {
  padding-left: 108px;
}

.scenes-h2 {
  color: #163A24;
  width: 338px;
  height: 108px;
  margin-bottom: 27px;
}

.scenes-p {
  color: #163A24;
  width: 379px;
  height: 81px;
}

.scenes-div {
  flex-basis: 50%;
}


.interest {
  padding: 114px 0px 120px 0px;
}

.interest-content {
  justify-content: space-around;
}

.interest-text {
  padding-left: 237px;
}

.interest-h2 {
  color: #163A24;
  width: 727px;
  height: 54px;
  margin-bottom: 26px;
}

.interest-p {
  color: #163A24;
  text-align: center;
}

.interest-div {
  width: 353px;
  height: 393px;
  background-color: #FBFAF7;
  box-shadow: 5px 5px 20px #E9E4D5;
  padding: 50px 0px 50px 40px;
  border-radius: 15px;
}

.interest-div-two {
  width: 353px;
  height: 430px;
  background-color: #FBFAF7;
  box-shadow: 5px 5px 20px #E9E4D5;
  padding: 50px 0px 50px 40px;
  border-radius: 15px;
}

.interest-h3 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #163A24;
  margin-bottom: 23px;
  margin-top: 20px;
}

.interest-list {
  padding-left: 20px;
}

.interest-item {
  color: #163A24;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

#easy {
  background-color: #F2EFE6;
  padding: 120px 0px 124px 0px;
}

.easy-text {
  text-align: center;
}

.easy-h2 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 54px;
  color: #163A24;
  margin-bottom: 26px;
}

.easy-p {
  color: #163A24;
  margin-bottom: 18px;
}

.easy-content {
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.easy-box {
  align-items: center;
  width: 393px; 
  height: 141px;
  justify-content: space-evenly;
}

.easy-item {
  width: 262px;
  height: 141px;
}

.easy-fill {
  color: #163A24;
}

.easy-time {
  color: #163A24;
}

.easy-h3 {
  color: #163A24;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}

.easy-btn a{
  background-color: #198C36;
  border-radius: 30px;
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
}

.easy-btn {
  text-align: center;
}

.book-content {
  align-items: center;
  justify-content: space-around;
}

#book {
  padding: 119px 0px;
}

.book-h2 {
  color: #163A24;
  width: 360px;
  height: 108px;
  margin-bottom: 25px;
}

.book-p {
  color: #163A24;
  width: 287px;
  height: 27px;
  margin-bottom: 34px;
}

.book-btn {
  background-color: #198C36;
  border-radius: 30px;
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
}

#started {
  background-color: #163A24;
}

.started-content {
  justify-content: space-between;
  align-items: center; 
}

.started-img1 {
  margin-left: -75px;
  margin-bottom: -5px;
}

.started-text {
  text-align: center;
}

.started-h2 {
  margin-bottom: 26px;
}

.started-p {
  margin-bottom: 33px;
}

.started-btn {
  background-color: #FAB5A0;
  border-radius: 30px;
  padding: 15px 25px;
  text-decoration: none;
  color: #163A24;
}

.started-img2 {
  margin-right: -75px;
  margin-bottom: -5px;
}

#data {
  background-color: #F2EFE6;
  padding: 80px 0px;
}

.data-content {
  justify-content: space-between;
  align-items: center;
}

.data-h2 {
  color: #163A24;
  margin-bottom: 26px;
}

.data-sign-p {
  color: #163A24;
}

.data-form input {
  width: 553px;
  height: 54px;
  border-radius: 225px;
  border: none;
  margin-bottom: 11px;
}

.data-form button {
  background-color: #198C36;
  border-radius: 30px;
  border: none;
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
  margin-left: -50px;
  width: 111px;
  height: 52px;
}

.data-p {
  font-size: 14px;
  line-height: 21px;
  color: #163A24;
  width: 524px;
}

.data-p a {
  text-decoration: none;
  color: #198C36;
}

.footer-content {
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  margin-top: 35px 0px;
}

.footer-h4 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #163A24;
}

.footer-ul li {
  margin-right: 14px;
  list-style: none;
}

hr {
  background-color: #F2EFE6;
  width: 1180px;
  height: 1px;
}

.clerksy {
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 25px;
}

.clerksy-p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #163A24;
}

.clerksy-ul li {
  list-style: none;
}

.clerksy-ul li a {
  text-decoration: none;
  color: #198C36;
  margin-left: 14px;
}